#interface
interfaces {
    {{item.ifd0}} {
        unit {{item.ifd0_unit0}} {
            family inet {
                address {{item.ifd0_unit0_ip0|ipaddr("1")}};
            }
        }
    }
}

#static route
routing-options {
    static {
        route 0.0.0.0/0 next-hop {{(item.ifd0_unit0_ip0|ipaddr("2")).split("/")[0]}};
    }
}